
#nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding: 0px 2em;
    z-index: 1;
}

#nav-bar .button {
  float: right;
  margin-top: 12px;
  border-radius: 10px;
  height: 55px;
  width: 132px;
  border: 1px solid black;
  color: white;
  opacity: 0.5;
}

#nav-bar .button:hover {
  opacity: 1;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}


#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 200%;

}
