/*#tweet-boxes:hover {
  opacity: 1;
}*/


article {
  margin: 0 auto;
  background-color: white;
  padding: 15px;
  margin-top: 50px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  opacity: 0.5;
}

article:hover{
  opacity: 1;
}
/*/////////////////////////////////////*/

.tweet .tweet-content {
  height: 100px;
  padding-top: 40px;
  font-size: 150%;
}

/*////////////////////////////////////*/

header {
  height: 64px;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: lightgrey;
  border-radius: 15px;

}

.userimg {
  float: left;
  padding: 5px;
  width: 80px;
  border-radius: 15px;
}

/*Need to come back to user name*/
.user-name {
  float: left;
  /*height: 30px;
  padding-left: : 5px;*/
  font-weight: bolder;
}

header .handle {
  float: right;
  padding-right: 5px;
}


/*////////////////////////////////////////////////*/

/*////////////////////////////////////////////////*/


footer {
  border-top: 1px solid lightgrey;
  height: 21px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

footer .date {
  font-size: 85%;
  padding-left: 10px;
}

footer .item {
  position: absolute;
  right: 10px;
  top: 10px;
}

footer .fa-flag {
  margin-right: 2px;
  margin-left: 2px;
}

footer .fa-retweet {
  margin-right: 2px;
  margin-left: 2px;
}

footer .fa-heart {
  margin-right: 2px;
  margin-left: 2px;
}



